.bg {
  width: 1920px;
  height: 1080px;
  background: url('/images/bg-body.png') no-repeat 0 0 #051045;
  display: flex;
  position: relative;
  .bg-border {
    flex: 1;
    background: url('/images/bg-body3.png') no-repeat center transparent;
    width: 1890px;
    height: 1072px;
    background-size: contain;
    :deep(.header) {
      .title {
        font-weight: 500;
        font-size: 38px;
        color: #f3f7ff;
        line-height: 53px;
        letter-spacing: 1px;
        text-shadow: 0px 2px 17px rgba(255, 255, 255, 0.25);
        text-align: center;
        font-style: normal;
        text-align: center;
        margin-top: 5px;
      }
      .time {
        position: absolute;
        height: 28px;
        font-weight: 500;
        font-size: 20px;
        color: #ffffff;
        line-height: 28px;
        text-align: center;
        font-style: normal;
        right: 64px;
        top: 12px;
        text-align: right;
      }
    }

    .board {
      display: flex;
      :deep(.board-left) {
        margin-left: 45px;
        width: 420px;
        .board-item {
          width: 420px;
          margin-bottom: 15px;
          &-title {
            background: url(images/bg-title.png) no-repeat left top;
            width: 100%;
            height: 36px;
            line-height: 36px;
            margin-bottom: 15px;
          }
          &-value {
            // 传输线速度
            &.speed {
              :deep(.el-progress-bar__outer) {
                background-color: #ebeef569;
              }
              :deep(.el-progress__text) {
                min-width: auto;
              }
              .item {
                display: flex;
                height: 80px;
                .no {
                  flex: 32px 0 0;
                  margin-left: 8px;
                  display: flex;
                  align-items: center;
                  .icon {
                    width: 22px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    background: rgba(255, 255, 0, 0.1);
                    // margin-top: 32px;
                    font-size: 12px;
                  }
                }
                .line-container {
                  flex: 1 0 auto;
                  .labels {
                    margin-bottom: 8px;
                    margin-top: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    .value {
                      color: white;
                      font-size: 18px;
                    }
                  }
                }
              }
            }
            /**
            温度控制
            **/
            &.temperature {
              display: grid;
              grid-template-columns: 1fr 1fr;
              .item {
                color: white;
                display: flex;
                width: 198px;
                height: 40px;
                box-shadow: inset 0px 0px 75px 0px rgba(23, 156, 255, 0.2);
                justify-content: space-around;
                align-items: center;
                padding: 8px;
                & > div {
                  flex: 1;
                }
              }
            }

            .table-head {
              display: flex;
              font-size: 14px;
              margin-bottom: 5px;
              padding-right: 0;
              & > div {
                flex: 1 0 0;
                &:nth-child(n + 2) {
                  flex: 0.5 0 0;
                  text-align: center;
                }
              }
            }
            .scroll {
              height: 200px;
              width: 100%;
              overflow: hidden;
            }

            .scroll .item {
              display: flex;
              align-items: center;
              &:nth-child(even) {
                background-color: #5773ff11;
              }
              & > div {
                &:nth-child(n + 2) {
                  flex: 0.5 0 0;
                  text-align: center;
                  & > .btn {
                    color: #5773ff;
                    display: inline-block;
                    border: 1px solid #274bfe;
                    background: #274bfe66;
                    padding: 0 5px;
                    margin-right: 4px;
                  }
                }
                flex: 1 0 0;
              }
            }
          }
        }
        .device-total {
          display: flex;
          width: 417px;

          background: rgba(181, 197, 255, 0.06);
          box-shadow: inset 0px 2px 12px 0px rgba(39, 115, 255, 0.3);
          backdrop-filter: blur(2px);
          margin-bottom: 15px;
          .total-item {
            flex: 1;
            display: flex;
            align-items: center;
            .txt {
              margin-left: 23px;
            }
            .num {
              font-size: 26px;
              margin-left: 12px;
              color: white;
            }
          }
        }
      }
      .board-container {
        flex: 1 0 0;
        padding-left: 50px;
        :deep(.webgl-view) {
          width: 1340px;
          height: 600px;
          margin-top: 40px;
          position: relative;
          .webgl-container {
            width: 1340px;
            height: 600px;
            border: 1px solid #a3a3a333;
          }
          .tips-top,
          .tips-bottom {
            .item {
              position: absolute;
              width: 180px;
              height: 83px;
              background: rgba(0, 0, 0, 0.2);
              box-shadow: inset 0px 2px 40px 0px #2773ff66;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .line {
                .icon {
                  width: 2px;
                  height: 34px;
                  background: #00ffff;
                }
              }
              .device {
                .name {
                  white-space: nowrap;
                  width: 75px;
                  height: 25px;
                  font-weight: 500;
                  font-size: 18px;
                  color: #40a9ff;
                  line-height: 25px;
                  text-shadow: 1px 1px 2px #000;
                }
                .code {
                  width: 88px;
                  height: 17px;
                  font-weight: 600;
                  font-size: 12px;
                  color: #ffffff;
                  line-height: 17px;
                }
              }
              .state {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                .icon {
                  width: 16px;
                  height: 16px;
                  background: rgba(39, 255, 187);
                  box-shadow: 0px 0 0 8px rgba(39, 255, 187, 0.3);
                  border-radius: 50%;
                }
              }
            }
          }
          .tips-top {
            .item-2 {
              left: 200px;
            }
          }
          .tips-bottom {
            .item {
              bottom: 0;
              &.item-2 {
                left: 200px;
              }
            }
          }
        }
        :deep(.device-status) {
          width: 1284px;
          .board-item {
            &-title {
              background: url(images/bg-title.png) no-repeat left top;
              width: 100%;
              height: 36px;
              line-height: 36px;
              margin-bottom: 15px;
            }
            &-value {
              height: 297px;
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
              grid-gap: 8px;
              .device-status-item {
                display: flex;
                align-items: center;
                .icon {
                  width: 12px;
                  height: 12px;
                  border-radius: 50%;
                  background: #a4a9a6;
                  margin-right: 8px;
                  box-shadow: 0 0 0 4px #a4a9a67a;
                  transition: 0.2s;
                }
                .online {
                  background: #00ffcc;
                  box-shadow: 0 0 0 4px #9dfff47a;
                  transition: 0.2s;
                }
              }
            }
          }
        }
      }
    }
  }
}
.css2object {
  position: absolute;
  top: 0;
  width: 300px;
  height: 200px;
  margin-left: 150px;
  margin-top: -100px;
  background: rgba(0, 148, 253, 0.794);
  color: white;
  font-weight: bold;
  border-radius: 8px 8px 8px 0;
  box-shadow: 0 0 8px #00b1ff;
  padding: 8px;
  list-style: none;
  .deg {
    width: 8px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
  }
  .triangle {
    position: absolute; /* 设置相对定位 */
    bottom: 0;
    left: -10px;
  }

  /* 使用 ::before 伪元素来创建三角形 */
  .triangle::before {
    content: ''; /* 必需属性，表示没有内容 */
    position: absolute; /* 设置绝对定位 */
    bottom: -10px; /* 调整三角形与矩形之间的距离 */
    left: 50%; /* 将三角形水平居中 */
    transform: translateX(-50%); /* 再次调整三角形的位置 */
    transform: rotate(225deg); /* 旋转三角形
    width: 20px; /* 控制三角形的大小 */
    height: 20px;
    background-color: transparent; /* 清除默认背景色 */
    border-style: solid; /* 设置为实线边框 */
    border-width: 10px; /* 控制边框的宽度 */
    border-top-color: transparent; /* 上边框不显示 */
    border-right-color: transparent; /* 右边框不显示 */
    border-bottom-color: #ff0; /* 下边框显示为黑色 */
    border-left-color: transparent; /* 左边框不显示 */
  }
}
